.App {
  text-align: center;
}

.App-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  width: 100%;
  min-height: 50rem;
  background-image: url("https://images.unsplash.com/photo-1521317097588-bd55492aa9eb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f13ce858b30389748d3d394088c0cdb5&auto=format&fit=crop&w=1750&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  margin-top: 0.05rem;
  height: 80px;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2223;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 300%;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 20px;
}

.App-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.75rem;
  background-color: #2222;
  color: white;
  width: 80%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
